<div class="container" style="margin-top: 20px;">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Customer preference analysis</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Selling analysis</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <img src="assets/customer-pref-analysis.png" max-width=100%; max-height=100%;>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <img src="assets/selling-analysis.png" width="940" height="374">
    </div>
  </div>
  <div class="col-md-4" style="margin-top: 20px">
    <button type="submit" class="btn btn-primary" (click)="goToStaff()">Go to Staff</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 20px;" (click)="goToHome()">Home</button>
  </div>
  </div>