<h4>Staff</h4>
<hr>
<div class="container">
  <div class="row">
    <div class="col-7">
      <form>
        <div class="row">
          <div class="col-md-3">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Name" value="William">
          </div>
          <div class="col-md-3">
            <label for="inputPassword4">Phone</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Phone" value="+12123456789">
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="william@gmail.com">
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Notes</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
          <button type="submit" class="btn btn-primary" (click)="signout()">Sign Out</button>
          <button type="submit" class="btn btn-primary" style="margin-left: 30px;" (click)="goToHome()">Home</button>
        </div>
      </form>
    </div>
    <div class="vr" style="padding: 0;"></div>
    <div class="col-4">
      <ul class="nav flex-column staff-items">
        <li class="nav-item">
          <i class="pi pi-book"></i><span (click)="goToCustomerList()" style="cursor: pointer;color: blue;"> Customer List </span>
        </li>
        <li class="nav-item mg">
          <i class="pi pi-phone"></i><span style="cursor: pointer;color: blue;"> Stock Data </span>
        </li>
        <li class="nav-item mg">
          <i class="pi pi-external-link"></i><span style="cursor: pointer;color: blue;"> Vehicle Info </span>
        </li>
        <li class="nav-item mg">
          <i class="pi pi-chart-line"></i><span style="cursor: pointer;color: blue;"> Analysis </span>
        </li>
      </ul>
    </div>
  </div>

</div>